################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClientServerProcessManager/v16
/ClientProcess
/ClientServerProcessManager
/DaytonaClient
/packages
/RpcContract
/WebView2Sharp/obj/Debug
/WebView2Sharp/bin/Debug
/WpfWebView2Client/obj
/WpfWebView2Client/bin/Debug
